#menu {
    display: flex;
    padding: 6px;
    gap: 16px;
}

.menu-option {
    display: flex;
    top: 100%;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    position: relative;
    min-width: 40px;
    min-height: 40px;
    justify-content: center;
}

.menu-option.map {
    position: fixed;
    top: 26px;
    right: 16px;
    z-index: 1000;
}

.menu-icon {
    font-size: 16px;
    pointer-events: none;
}
.menu-option select {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    background: transparent;
    z-index: 2;
}

.menu-option select:focus+.menu-icon {
    outline: 2px solid #04AA6D;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.menu-option select {
    color: black;
    font-size: 16px;
    background: transparent;
    text-indent: 100%;
    white-space: inherit;
    overflow: hidden;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.menu-text {
    margin: 8px;
    font-size: 16px;
    color: #333;
    pointer-events: none;
}

.selected-option {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    border-radius: 4px;
    padding: 8px 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    gap: 8px;
    font-size: 16px;
    color: #333;
}

.selected-option .remove-button {
    background: none;
    border: none;
    color: #ff4d4f;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}