#search-input {
    padding: 12px;
    font-size: 16px;
    background-color: #383838;
    border: none;
    width: 300px;
    transition: border-color 0.3s;
}

#search-input:hover {
    padding: 12px;
    font-size: 16px;
    background-color: #454545;
    border: none;
    width: 300px;
    transition: border-color 0.3s;
}

#search-bar {
    display: flex;
    align-items: center;
    background-color: #383838;
    border: 1px solid #4f4f4f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 0;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #383838;
    border: 1px solid #4f4f4f;
    box-sizing: border-box;
    color: #f2f2f2;
    text-align: left;
    outline: 0;
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
    width: 50%;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: none;
}

#suggestions::-webkit-scrollbar {
    display: none;
}

#suggestions div:hover {
    background-color: #454545;
    border: 0px;
    box-sizing: border-box;
    color: #f2f2f2;
    outline: 0;
    transition: box-shadow 0.2s ease-out;
}