#search-button::before {
    content: '\1F50D';
    font-size: 20px;
    margin-right: 0px;
}

#search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 0;
}

#search-button {
    margin-left: 4px;
    padding: 10px 16px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #383838;
    border: 1px solid #4f4f4f;
    box-sizing: border-box;
    color: #f2f2f2;
    text-align: left;
    outline: 0;
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: none;
}

#suggestions::-webkit-scrollbar {
    display: none;
}

#suggestions div:hover {
    background-color: #454545;
    border: 0px;
    box-sizing: border-box;
    color: #f2f2f2;
    outline: 0;
    transition: box-shadow 0.2s ease-out;
}